@model RSBrasil.Model.DTOs.FuncionarioDTO

@{
    ViewData["Title"] = "Novo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Novo</h2>

    <h4>Cliente</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Novo">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataNascimento" class="control-date"></label>
                    <input asp-for="DataNascimento" class="form-control" />
                    <span asp-validation-for="DataNascimento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefone" class="control-label"></label>
                    <input asp-for="Telefone" class="form-control" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Celular" class="control-label"></label>
                    <input asp-for="Celular" class="form-control" />
                    <span asp-validation-for="Celular" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Login" class="control-label"></label>
                    <input asp-for="Login" class="form-control" />
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Senha" class="control-label"></label>
                    <input asp-for="Senha" class="form-control" />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Ativo" class="control-label"></label>
                    <input asp-for="Ativo" class="form-control" />
                    <span asp-validation-for="Ativo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Sexo" class="control-label"></label>
                    <input asp-for="Sexo" class="form-control" />
                    <span asp-validation-for="Sexo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="EstadoCivil" class="control-label"></label>
                    <input asp-for="EstadoCivil" class="form-control" />
                    <span asp-validation-for="EstadoCivil" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="RacaCor" class="control-label"></label>
                    <input asp-for="RacaCor" class="form-control" />
                    <span asp-validation-for="RacaCor" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NomePai" class="control-label"></label>
                    <input asp-for="NomePai" class="form-control" />
                    <span asp-validation-for="NomePai" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NomeMae" class="control-label"></label>
                    <input asp-for="NomeMae" class="form-control" />
                    <span asp-validation-for="NomeMae" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Sexo" class="control-label"></label>
                    <input asp-for="Sexo" class="form-control" />
                    <span asp-validation-for="Sexo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Nacionalidade" class="control-label"></label>
                    <input asp-for="Nacionalidade" class="form-control" />
                    <span asp-validation-for="Nacionalidade" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NacionalidadeUF" class="control-label"></label>
                    <input asp-for="NacionalidadeUF" class="form-control" />
                    <span asp-validation-for="NacionalidadeUF" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Escolaridade" class="control-label"></label>
                    <input asp-for="Escolaridade" class="form-control" />
                    <span asp-validation-for="Escolaridade" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Deficiencia" class="control-label"></label>
                    <input asp-for="Deficiencia" class="form-control" />
                    <span asp-validation-for="Deficiencia" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DeficienciaObservacao" class="control-label"></label>
                    <input asp-for="DeficienciaObservacao" class="form-control" />
                    <span asp-validation-for="DeficienciaObservacao" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Banco" class="control-label"></label>
                    <input asp-for="Banco" class="form-control" />
                    <span asp-validation-for="Banco" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="TipoConta" class="control-label"></label>
                    <input asp-for="TipoConta" class="form-control" />
                    <span asp-validation-for="TipoConta" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NumeroAgencia" class="control-label"></label>
                    <input asp-for="NumeroAgencia" class="form-control" />
                    <span asp-validation-for="NumeroAgencia" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NumeroConta" class="control-label"></label>
                    <input asp-for="NumeroConta" class="form-control" />
                    <span asp-validation-for="NumeroConta" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DataAdmissao" class="control-label"></label>
                    <input asp-for="DataAdmissao" class="form-control" />
                    <span asp-validation-for="DataAdmissao" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="UltimoPeriodoFeriasInicio" class="control-label"></label>
                    <input asp-for="UltimoPeriodoFeriasInicio" class="form-control" />
                    <span asp-validation-for="UltimoPeriodoFeriasInicio" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="UltimoPeriodoFeriasFim" class="control-label"></label>
                    <input asp-for="UltimoPeriodoFeriasFim" class="form-control" />
                    <span asp-validation-for="UltimoPeriodoFeriasFim" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FeriasGozadas" class="control-label"></label>
                    <input asp-for="FeriasGozadas" class="form-control" />
                    <span asp-validation-for="FeriasGozadas" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FeriasGozar" class="control-label"></label>
                    <input asp-for="FeriasGozar" class="form-control" />
                    <span asp-validation-for="FeriasGozar" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DataLimiteFerias" class="control-label"></label>
                    <input asp-for="DataLimiteFerias" class="form-control" />
                    <span asp-validation-for="DataLimiteFerias" class="text-danger"></span>
                </div>
                <!--Endereco-->
                <div class="form-group">
                    <label asp-for="Logradouro" class="control-label"></label>
                    <input asp-for="Logradouro" class="form-control" />
                    <span asp-validation-for="Logradouro" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Numero" class="control-label"></label>
                    <input asp-for="Numero" class="form-control" />
                    <span asp-validation-for="Numero" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Complemento" class="control-label"></label>
                    <input asp-for="Complemento" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="Bairro" class="control-label"></label>
                    <input asp-for="Bairro" class="form-control" />
                    <span asp-validation-for="Bairro" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Cidade" class="control-label"></label>
                    <input asp-for="Cidade" class="form-control" />
                    <span asp-validation-for="Cidade" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="UF" class="control-label"></label>
                    <input asp-for="UF" class="form-control" />
                    <span asp-validation-for="UF" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Pais" class="control-label"></label>
                    <input asp-for="Pais" class="form-control" />
                    <span asp-validation-for="Pais" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Funcionários</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Novo funcionário
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form asp-action="Novo" method="post">
                                <div class="form-group">
                                    <label asp-for="Nome" class="control-label"></label>
                                    <input asp-for="Nome" class="form-control" />
                                    <span asp-validation-for="Nome" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="DataNascimento" class="control-label"></label>
                                    <input asp-for="DataNascimento" class="form-control" />
                                    <span asp-validation-for="DataNascimento" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Telefone" class="control-label"></label>
                                    <input asp-for="Telefone" class="form-control" />
                                    <span asp-validation-for="Telefone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Celular" class="control-label"></label>
                                    <input asp-for="Celular" class="form-control" />
                                    <span asp-validation-for="Celular" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CPF" class="control-label"></label>
                                    <input asp-for="CPF" class="form-control" />
                                    <span asp-validation-for="CPF" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="RG" class="control-label"></label>
                                    <input asp-for="RG" class="form-control" />
                                    <span asp-validation-for="RG" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Login" class="control-label"></label>
                                    <input asp-for="Login" class="form-control" />
                                    <span asp-validation-for="Login" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Senha" class="control-label"></label>
                                    <input asp-for="Senha" class="form-control" />
                                    <span asp-validation-for="Senha" class="text-danger"></span>
                                </div>

                                @*<div class="form-group">
                                        <label>Ativo</label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="Ativo">&nbsp;
                                        </label>
                                    </div>*@

                                <div class="form-group">
                                    <label asp-for="Sexo" class="control-label"></label>
                                    @Html.DropDownList("Sexo", ViewBag.SexoList as SelectList, new { @class = "form-control" })
                                    <span asp-validation-for="Sexo" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="EstadoCivil" class="control-label"></label>
                                    @Html.DropDownList("EstadoCivil", ViewBag.EstadoCivilList as SelectList, new { @class = "form-control" })
                                    <span asp-validation-for="EstadoCivil" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="RacaCor" class="control-label"></label>
                                    @Html.DropDownList("RacaCor", ViewBag.CorPeleList as SelectList, new { @class = "form-control" })
                                    <span asp-validation-for="RacaCor" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="NomePai" class="control-label"></label>
                                    <input asp-for="NomePai" class="form-control" />
                                    <span asp-validation-for="NomePai" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="NomeMae" class="control-label"></label>
                                    <input asp-for="NomeMae" class="form-control" />
                                    <span asp-validation-for="NomeMae" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Nacionalidade" class="control-label"></label>
                                    <input asp-for="Nacionalidade" class="form-control" />
                                    <span asp-validation-for="Nacionalidade" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Escolaridade" class="control-label"></label>
                                    @Html.DropDownList("Nacionalidade", ViewBag.EscolaridadeList as SelectList, new { @class = "form-control" })
                                    <span asp-validation-for="Escolaridade" class="text-danger"></span>
                                </div>

                                @*<div class="form-group">
                                        <label>Deficiência</label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="Deficiencia">&nbsp;
                                        </label>
                                    </div>*@

                                <div class="form-group">
                                    <label asp-for="Deficiencia" class="control-label"></label>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="Deficiencia" id="Deficiencia" value="option1" checked>Sim
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="Deficiencia" id="Deficiencia" value="option2">Não
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label asp-for="DeficienciaObservacao" class="control-label"></label>
                                    <input asp-for="DeficienciaObservacao" class="form-control" />
                                    <span asp-validation-for="DeficienciaObservacao" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Banco" class="control-label"></label>
                                    <input asp-for="Banco" class="form-control" />
                                    <span asp-validation-for="Banco" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="TipoConta" class="control-label"></label>
                                    @Html.DropDownList("TipoConta", ViewBag.TipoContaList as SelectList, new { @class = "form-control" })
                                    <span asp-validation-for="TipoConta" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label>Número Agência</label>
                                    <input asp-for="NumeroAgencia" class="form-control" />
                                    <span asp-validation-for="NumeroAgencia" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="NumeroConta" class="control-label"></label>
                                    <input asp-for="NumeroConta" class="form-control" />
                                    <span asp-validation-for="NumeroConta" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="DataAdmissao" class="control-label"></label>
                                    <input asp-for="DataAdmissao" class="form-control" />
                                    <span asp-validation-for="DataAdmissao" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="UltimoPeriodoFeriasInicio" class="control-label"></label>
                                    <input asp-for="UltimoPeriodoFeriasInicio" class="form-control" />
                                    <span asp-validation-for="UltimoPeriodoFeriasInicio" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="UltimoPeriodoFeriasFim" class="control-label"></label>
                                    <input asp-for="UltimoPeriodoFeriasFim" class="form-control" />
                                    <span asp-validation-for="UltimoPeriodoFeriasFim" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="FeriasGozadas" class="control-label"></label>
                                    <input asp-for="FeriasGozadas" class="form-control" />
                                    <span asp-validation-for="FeriasGozadas" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="FeriasGozar" class="control-label"></label>
                                    <input asp-for="FeriasGozar" class="form-control" />
                                    <span asp-validation-for="FeriasGozar" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="DataLimiteFerias" class="control-label"></label>
                                    <input asp-for="DataLimiteFerias" class="form-control" />
                                    <span asp-validation-for="DataLimiteFerias" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Logradouro" class="control-label"></label>
                                    <input asp-for="Logradouro" class="form-control" />
                                    <span asp-validation-for="Logradouro" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Numero" class="control-label"></label>
                                    <input asp-for="Numero" class="form-control" />
                                    <span asp-validation-for="Numero" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Complemento" class="control-label"></label>
                                    <input asp-for="Complemento" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="Bairro" class="control-label"></label>
                                    <input asp-for="Bairro" class="form-control" />
                                    <span asp-validation-for="Bairro" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Cep" class="control-label"></label>
                                    <input asp-for="Cep" class="form-control" />
                                    <span asp-validation-for="Cep" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Cidade" class="control-label"></label>
                                    <input asp-for="Cidade" class="form-control" />
                                    <span asp-validation-for="Cidade" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label>Estado</label>
                                    @Html.DropDownList("UF", ViewBag.EstadosList as SelectList, new { @class = "form-control" })
                                    <span asp-validation-for="UF" class="text-danger"></span>
                                </div>

                                <button type="submit" class="btn btn-success">Salvar</button>
                                @Html.ActionLink("Cancelar", "Index", "Funcionario", null, new { @class = "btn btn-danger" })
                                @*<button type="reset" class="btn btn-default">Reset Button</button>*@
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
@section Scripts {
    <script src="~/vendor/mascara/jquery.mask.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#CPF').mask('000.000.000-00', { reverse: true });
            $('#Cep').mask("00000-000");
            $('#Telefone').mask('00-000000000');
            $('#Celular').mask('00-000000000');
            $('#DataNascimento').mask('00/00/0000');
            $('#DataLimiteFerias').mask('00/00/0000');
            $('#UltimoPeriodoFeriasInicio').mask('00/00/0000');
            $('#UltimoPeriodoFeriasFim').mask('00/00/0000');
        });
    </script>
}
