<div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
        @*<li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>*@
        <li>
            <a href="index.html"><i class="fa fa-table fa-fw"></i> Dashboard</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-edit fa-fw"></i> Cadastros<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    @Html.ActionLink("Clientes", "Index", "Cliente")
                </li>
                <li>
                    @Html.ActionLink("Funcionários", "Novo", "Funcionario")
                </li>
                <li>
                    @Html.ActionLink("Faltas", "Novo", "HistoricoFalta")
                </li>
                <li>
                    @Html.ActionLink("Afastamentos", "Novo", "TipoAfastamento")
                </li>
                <li>
                    @Html.ActionLink("Punições", "Novo", "HistoricoPunicao")
                </li>
                <li>
                    @Html.ActionLink("Salários", "Novo", "HistoricoSalario")
                </li>
                <li>
                    @Html.ActionLink("Benefícios", "Novo", "HistoricoBeneficio")
                </li>
                <li>
                    @Html.ActionLink("Uniformes", "Novo", "Uniforme")
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        @*<li>
            <a href="#"><i class="fa fa-list-alt fa-fw"></i> Relatórios<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    @Html.ActionLink("Clientes", "Index", "Clientes")
                </li>
                <li>
                    @Html.ActionLink("Funcionários", "Index", "Funcionario")
                </li>
                <li>
                    @Html.ActionLink("Faltas", "Index", "HistoricoFaltas")
                </li>
                <li>
                    @Html.ActionLink("Afastamentos", "Index", "HistoricoAfastamento")
                </li>
                <li>
                    @Html.ActionLink("Punições", "Index", "HistoricoPunicao")
                </li>
                <li>
                    @Html.ActionLink("Salários", "Index", "HistoricoSalario")
                </li>
                <li>
                    @Html.ActionLink("Benefícios", "Index", "HistoricoBeneficio")
                </li>
                <li>
                    <a href="morris.html">Uniformes</a>
                </li>
            </ul>
        </li>*@
        @*<li>
            <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
        </li>
        <li>
            <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="panels-wells.html">Panels and Wells</a>
                </li>
                <li>
                    <a href="buttons.html">Buttons</a>
                </li>
                <li>
                    <a href="notifications.html">Notifications</a>
                </li>
                <li>
                    <a href="typography.html">Typography</a>
                </li>
                <li>
                    <a href="icons.html"> Icons</a>
                </li>
                <li>
                    <a href="grid.html">Grid</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#">Second Level Item</a>
                </li>
                <li>
                    <a href="#">Second Level Item</a>
                </li>
                <li>
                    <a href="#">Third Level <span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li>
                            <a href="#">Third Level Item</a>
                        </li>
                        <li>
                            <a href="#">Third Level Item</a>
                        </li>
                        <li>
                            <a href="#">Third Level Item</a>
                        </li>
                        <li>
                            <a href="#">Third Level Item</a>
                        </li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="blank.html">Blank Page</a>
                </li>
                <li>
                    <a href="login.html">Login Page</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>*@
    </ul>
</div>